.root {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--ui-container-gutter, 2rem);
  padding-left: var(--ui-container-gutter, 2rem);
  box-sizing: border-box;
}

.disableGutters {
  padding-left: 0;
  padding-right: 0;
}

.xs {
  max-width: var(--ui-container-bkp-xs, 'none');
}

.sm {
  max-width: var(--ui-container-bkp-sm, 600px);
}

.md {
  max-width: var(--ui-container-bkp-md, 900px);
}

.lg {
  max-width: var(--ui-container-bkp-lg, 1200px);
}

.xl {
  max-width: var(--ui-container-bkp-xl, 1536px);
}
