.root {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.aside {
  display: flex;
  align-items: center;
}

.iconLink {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.toolbar {
  order: 1;
}

.lang {
  order: 2;
}

@media screen and (max-width: 640px) {
  .root {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .toolbar {
    order: 2;
  }
}
